@import "../styles.scss";

.hero-img {
  width: 100%;
  height: calc(100vh - 196px);
  background: #fff url("../../../public/images/hero-mov.jpg") center center/cover no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .hero-img__text-box {
    height: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    h1.hero-img__title {
      //text Mixin: font-family, color, size, weight, margin, padding, margin600, padding600
      @include text($titleFont, $titleHero, $h1Size, $superBold, 10px 0, 0, 20px 0, 0);
    }
    p.hero-img__paragraph {
      //text Mixin: font-family, color, size, weight, margin, padding, margin600, padding600
      @include text($textFont, $paragraphHero, $heroParagraphSize, $regular, 10px 0, 0, 20px 0, 0);
    }
    .hero-btn {
      padding: 0 38px;
      height: 48px;
      color: $buttonText;
      background-color: $buttonBg;
      border-radius: 4px;
      border: none;
      outline: none;
      margin: 20px 0;
      display: inline-flex;
      align-items: center;
      opacity: 1;
      transition: opacity 1s ease 0s;
      &:hover {
        opacity: 0.7;
      }
      .hero-btn__link-icon {
        margin-left: 5px;
      }
    }
  }
}

@media (min-width: 600px) {
  .hero-img {
    height: 680px;
    align-items: center;
    background: #fff url("../../../public/images/hero.jpg") center center/cover no-repeat;
    .hero-img__text-box {
      margin-left: 80px;
    }
  }
}
