@import "../styles.scss";

.intro {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 300px;
  box-sizing: border-box;
  padding-top: 40px;

  h6.intro__subtitle {
    //text Mixin: font-family, color, size, weight, margin, padding, margin600, padding600
    @include text($titleFont, $smallTitle, $smallTitle, $medium, 10px 0, 0, 12px 0, 0);
    text-transform: uppercase;
  }
  h2.intro__title {
    //text Mixin: font-family, color, size, weight, margin, padding, margin600, padding600
    @include text($titleFont, $heroTitle, $heroTitleSize, $medium, 10px 0, 0, 12px 0, 0);
    text-transform: uppercase;
  }
  p.intro__paragraph {
    max-width: 800px;
    //text Mixin: font-family, color, size, weight, margin, padding, margin600, padding600
    @include text($textFont, $text, $paragraphSize, $regular, 10px 0, 0, 12px 0, 0);
  }
}
